openapi: 3.2.0
info:
  title: Leonardo.AI User API
  description: Retrieve the authenticated user's profile, API key info, and remaining credit balance via /me.
  version: v1.0.0
  contact:
    name: Leonardo.AI Support
    url: https://docs.leonardo.ai/docs/need-more-support
  license:
    name: Leonardo.AI Terms of Service
    url: https://leonardo.ai/terms-of-service/
servers:
- url: https://cloud.leonardo.ai/api/rest/v1
  description: Leonardo.AI Production API
security:
- bearerAuth: []
tags:
- name: User
paths:
  /me:
    get:
      tags:
      - User
      summary: Get user information
      description: 'This endpoint will return your user information such as your user id, username, token renewal date and current amounts of the following: subscription tokens, gpt (prompt generation) tokens, and model training tokens'
      operationId: getUserSelf
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_details:
                    items:
                      description: columns and relationships of "user_details"
                      properties:
                        user:
                          description: columns and relationships of "users"
                          properties:
                            id:
                              $ref: '#/components/schemas/uuid'
                            username:
                              title: String
                              type:
                              - string
                              - 'null'
                              description: Username of the user.
                          title: users
                          type:
                          - object
                          - 'null'
                        tokenRenewalDate:
                          title: timestamp
                          type:
                          - string
                          - 'null'
                          description: User Plan Token Renewal Date.
                        paidTokens:
                          title: Int
                          type:
                          - integer
                          - 'null'
                          description: Current balance of paid tokens the user has.
                        subscriptionTokens:
                          title: Int
                          type: integer
                          description: Current balance of user plan subscription tokens the user has.
                        subscriptionGptTokens:
                          title: Int
                          type: integer
                          description: Current balance of user plan GPT tokens the user has.
                        subscriptionModelTokens:
                          title: Int
                          type: integer
                          description: Current balance of model training tokens the user has.
                        apiConcurrencySlots:
                          title: Int
                          type: integer
                          description: API Concurrency Slots.
                        apiPaidTokens:
                          title: Int
                          type:
                          - integer
                          - 'null'
                          description: Current balance of API paid tokens the user has.
                        apiSubscriptionTokens:
                          title: Int
                          type: integer
                          description: Current balance of Enterprise API subscriptions tokens the user has.
                        apiPlanTokenRenewalDate:
                          title: timestamp
                          type:
                          - string
                          - 'null'
                          description: API Plan Token Renewal Date.
                      title: user_details
                      type: object
                    type: array
          description: Responses for GET /me
components:
  schemas:
    uuid:
      pattern: '[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89aAbB][a-f0-9]{3}-[a-f0-9]{12}'
      title: uuid
      type:
      - string
      - 'null'
  securitySchemes:
    bearerAuth:
      type: http
      bearerFormat: auth-scheme
      description: 'Bearer HTTP authentication. Allowed headers `Authorization: Bearer <api_key>`'
      scheme: bearer
